body {
    background-color: rgb(184, 218, 218);
}

.user-in {
    text-decoration-color: blue;
}

.container {
    background-color: cadetblue;
    text-align: center;
}

h1 {
    text-align: center;
}