h1{
    font-size: 50px;
}
.text-area{
    margin-top: 3%;
    height: 271px;
    width: 1031px;
    border: 3px solid black;
    border-radius: 10px;
}
button{
    height: 70px;
    width: 250px;
    background-color: blue;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(238, 255, 0);
    margin-bottom: 4%;
}